@page "/"
@if (user is not null)
{
    <p>
        Hello,
        @user.DisplayName
    </p>
}
else
{
    <p>
        Checking authentication...
    </p>
}
<style>
    .game-grid {
        grid-template: repeat(@gridSize, 1fr) / repeat(@gridSize, 1fr);
    }
</style>
<div class="game-grid">
    @for (int row = 0; row < gridSize; row++)
    {
        for (int col = 0; col < gridSize; col++)
        {
            <div style="border: solid 1px">
                @Location(col, row)
            </div>
        }
    }
</div>
