@page "/"
@if (user is not null)
{
    <p>
        Hello,
        @user.DisplayName
    </p>
}
else
{
    <p>
        Must login...
    </p>
}

<style>
    .game-grid {
        display: grid;
        grid-template: repeat(5, 20%) / repeat(5, 20%);
        width: calc(100vw - 16px);
        height: calc(100vw - 16px);
        min-width: 300px;
        min-height: 300px;
        max-width: calc(100vh - 4em);
        max-height: calc(100vh - 4em);
    }
</style>

<div class="game-grid">
    @for (int i = 0; i < 25; i++)
    {
        <div style="border: solid 1px">
            @i
        </div>
    }
</div>
