@page "/"
@if (user is not null)
{
    <p>
        Hello,
        @user.DisplayName
    </p>
}
else
{
    <p>
        Checking authentication...
    </p>
}
<style>
    .game-grid {
        grid-template: repeat(@gridSize, 1fr) / repeat(@gridSize, 1fr);
    }
</style>
<div class="game-grid">
    @for (int row = 0; row < gridSize; row++)
    {
        for (int col = 0; col < gridSize; col++)
        {
            // Must not capture the loop variable in the lambda
            int c = col;
            int r = row;
            <div style="border: solid 1px" @onclick="_ => OnClick(c, r)">
                @Location(col, row)
            </div>
        }
    }
</div>

@if (Names is not null)
{
    <p>
        In the area:
    </p>
    <ul>
        @foreach (var name in Names)
        {
            <li>@name</li>
        }
    </ul>
}
