<div class="rpgui-content" @onclick="ToastInstance.Close">
    <div class="rpgui-container framed-grey">
        <h1>
            @Title
        </h1>
    </div>
</div>

@code
{
    [CascadingParameter] private BlazoredToast ToastInstance { get; set; } = default!;
    [Parameter] public string? Title { get; set; }
}
